<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/poker.front_end.2d/src/jtj_holdem/game/graphics2d/test/SlickTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jtj_holdem.game.graphics2d.test.SlickTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="poker.front_end.2d"/>
</launchConfiguration>
